*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  font: inherit;
  color: inherit;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

i {
  cursor: pointer;
}

::-ms-clear {
  display: none;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

._icon-person:before {
  content: "\e90c";
}

._icon-user:before {
  content: "\e90a";
}

._icon-arrow-down:before {
  content: "\e900";
}

._icon-arrow-right:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e902";
}

._icon-favorite:before {
  content: "\e903";
}

._icon-locate:before {
  content: "\e904";
}

._icon-mail:before {
  content: "\e905";
}

._icon-phone:before {
  content: "\e906";
}

._icon-search:before {
  content: "\e907";
}

._icon-share:before {
  content: "\e908";
}

._icon-google_link:before {
  content: "\e915";
  color: #4285f4;
}

._icon-facebook_link:before {
  content: "\e916";
  color: #1877f2;
}

._icon-cc-visa:before {
  content: "\e909";
}

._icon-cc-mastercard:before {
  content: "\e912";
}

._icon-eye:before {
  content: "\e9ce";
}

._icon-eye-blocked:before {
  content: "\e9d1";
}

._icon-google:before {
  content: "\ea88";
}

._icon-facebook:before {
  content: "\ea90";
}

.header .account__items-avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.inspiration .swiper-slide .inspiration__swiper__item img, .product__img img, .home__swiper__item img, .cart__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.header .icon-menu::after, .header .icon-menu::before, .header .icon-menu span {
  width: 100%;
  height: 2px;
  background-color: #3A3A3A;
  position: absolute;
  z-index: 3;
  transition: all 0.3s ease;
}

._icon {
  display: block;
  transition: all 0.3s ease;
}
@media screen and (any-hover: hover) {
  ._icon:hover {
    color: #e89f71;
    cursor: pointer;
  }
}
._icon:active {
  color: #e89f71;
}

a {
  transition: all 0.3s ease;
}
@media screen and (any-hover: hover) {
  a:hover {
    color: #e89f71;
    cursor: pointer;
  }
}
a:active {
  color: #e89f71;
}

body {
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: #616161;
  overflow-x: hidden;
}
body.lock {
  overflow: hidden;
}

h1 {
  font-size: 3.5rem;
  color: #3A3A3A;
  font-weight: 700;
}
h1:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (max-width: 1440px) {
  h1 {
    font-size: clamp(2rem, 1.5714rem + 2.1429vw, 3.5rem);
  }
}

h2 {
  font-size: 2.5rem;
  color: #3A3A3A;
  font-weight: 700;
  text-align: center;
}
h2:not(:last-child) {
  margin-bottom: 2rem;
}
@media screen and (max-width: 1440px) {
  h2 {
    font-size: clamp(1.75rem, 1.5357rem + 1.0714vw, 2.5rem);
  }
}

.card-title,
h3 {
  font-size: 1.75rem;
  color: #000;
  font-weight: 600;
}
.card-title:not(:last-child),
h3:not(:last-child) {
  margin-bottom: 0.25rem;
}
@media screen and (max-width: 1440px) {
  .card-title,
  h3 {
    font-size: clamp(1.5rem, 1.4286rem + 0.3571vw, 1.75rem);
  }
}

h4 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  h4 {
    font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
  }
}

h5 {
  font-size: 1.2rem;
  color: #3A3A3A;
  line-height: 1.5;
  margin-bottom: 2px;
  font-weight: 600;
}
@media screen and (max-width: 1440px) {
  h5 {
    font-size: clamp(1rem, 0.9429rem + 0.2857vw, 1.2rem);
  }
}

p {
  font-size: 1rem;
  color: #898989;
  line-height: 1.5;
  font-weight: 500;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}
@media screen and (max-width: 1260px) {
  .wrapper {
    padding: 0 10px;
  }
}

._icon {
  font-size: 1.5rem;
}

.btn {
  line-height: 1.5;
  font-weight: 600;
  min-height: 48px;
  min-width: 48px;
  padding: 12px;
  background-color: #e89f71;
  color: #FFF;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (any-hover: hover) {
  .btn:hover {
    background-color: #ee945b;
    color: #FFF;
  }
}
.btn:active {
  background-color: #ee945b;
  color: #FFF;
}

abbr {
  text-decoration: none;
  color: #E97171;
}

.input-field,
.select {
  padding: 0.75rem;
  color: #828282;
  background-color: #F4F5F7;
}

label:not(.label-checkbox) {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.input__wrapper {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.input-field:focus,
.select:focus,
.select[data-open],
.focus {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
}

.select:focus {
  outline: none;
}

.select .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 100%;
}

.select .header::after {
  font-family: "icons";
  content: "\e900";
}

.select:focus .header::after {
  color: #e89f71;
}

.select .header select {
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  border-width: 0;
  width: 100%;
  flex: 1 1 100%;
  display: none;
}

.select select .option {
  display: none;
}

.select {
  user-select: none;
  position: relative;
  width: auto;
  display: inline-block;
}

.select[data-open] datalist {
  display: initial;
  max-height: 200px;
  overflow: auto;
}

.select datalist {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
}

.select datalist .option {
  padding: 0.75rem;
  background-color: #F4F5F7;
  cursor: pointer;
}

.select datalist .option:hover,
.select datalist .option:focus,
.select datalist .option:checked {
  background-color: #e89f71;
  color: #FFF;
}

input[type=checkbox] {
  display: none;
}

.label-checkbox {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}
.label-checkbox::before {
  content: "";
  flex: 0 0 auto;
  width: 1.375rem;
  height: 1.375rem;
  border: 1px solid #e89f71;
}
input[type=checkbox]:checked + .label-checkbox::after {
  content: "";
  flex: 0 0 auto;
  width: 0.6rem;
  height: 1rem;
  border-bottom: 2px solid #e89f71;
  border-right: 2px solid #e89f71;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 6px;
  align-self: flex-start;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(1);
}

.swiper-pagination-bullet {
  width: 27px;
  height: 27px;
  background-color: transparent;
  opacity: 1;
  position: relative;
}
.swiper-pagination-bullet::after {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #D8D8D8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-pagination-bullet-active {
  border: 1px solid #e89f71;
}
.swiper-pagination-bullet-active::after {
  background-color: #e89f71;
}

.arrows-left, .arrows-right {
  line-height: 1.5;
  font-weight: 600;
  min-height: 48px;
  min-width: 48px;
  padding: 12px;
  background-color: #F9F1E7;
  color: #e89f71;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
@media screen and (any-hover: hover) {
  .arrows-left:hover, .arrows-right:hover {
    background-color: #e89f71;
    color: #F9F1E7;
  }
}
.arrows-left:active, .arrows-right:active {
  background-color: #e89f71;
  color: #F9F1E7;
}
.arrows-left._icon-arrow-down::before {
  transform: rotate(90deg);
}
.arrows-right._icon-arrow-down::before {
  transform: rotate(-90deg);
}
.arrows-white {
  line-height: 1.5;
  font-weight: 600;
  min-height: 48px;
  min-width: 48px;
  padding: 12px;
  background-color: #FFF;
  color: #e89f71;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}
@media screen and (any-hover: hover) {
  .arrows-white:hover {
    background-color: #e89f71;
    color: #F9F1E7;
  }
}
.arrows-white:active {
  background-color: #e89f71;
  color: #F9F1E7;
}

.button-more {
  min-width: 33%;
  max-height: 9.25rem;
  overflow: auto;
  position: absolute;
  display: flex;
}
.button-more__content {
  flex: 1 1 auto;
}
.button-more__price {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  font-size: 1.25rem;
  color: #3A3A3A;
  font-weight: 600;
  line-height: 1.5;
}
@media screen and (max-width: 1440px) {
  .button-more__price {
    font-size: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  }
}
.button-more__price-sum {
  flex: 1 1 auto;
}
.button-more::after {
  content: "\e901";
  font-family: "icons";
  align-self: flex-end;
}

.swiper__arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: none;
  pointer-events: none;
}
.swiper__arrows .arrows-left {
  transform: translateX(-50%);
  cursor: pointer;
  pointer-events: auto;
}
@media screen and (any-hover: none) {
  .swiper__arrows .arrows-left {
    transform: translateX(12px);
  }
}
.swiper__arrows .arrows-right {
  transform: translateX(50%);
  cursor: pointer;
  pointer-events: auto;
}
@media screen and (any-hover: none) {
  .swiper__arrows .arrows-right {
    transform: translateX(-12px);
  }
}

.page {
  position: relative;
}

.header__container {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: #3A3A3A;
}
.header__container [class^=_icon-]::before {
  display: block;
}
@media screen and (any-hover: hover) {
  .header__container._scroll::after {
    opacity: 0.8;
  }
  .header__container._scroll:hover::after {
    opacity: 1;
  }
}
@media screen and (any-hover: hover) and (max-width: 1440px) {
  .header__container._scroll .home {
    padding: calc(2.5rem + 40px) 0 min(5rem, 5vh) 0;
  }
}
@media screen and (any-hover: hover) and (max-width: 992px) {
  .header__container._scroll .home {
    padding: calc(1.5rem + 30px) 0 min(5rem, 5vh) 0;
  }
}
.header__container._scroll .header__nav {
  padding: 1rem 0;
}
@media screen and (max-width: 992px) {
  .header__container._scroll .header__nav {
    padding: 0.75rem 0;
  }
}
@media screen and (max-width: 768px) {
  .header__container._scroll .main-menu__list {
    padding: calc(2.25rem + 30px) 10px 1.5rem 10px;
  }
}
.header__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FCF8F3;
  z-index: 3;
  transition: opacity 0.3s ease;
}
.header__container:not(._scroll)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 66%;
  height: 100%;
  background-color: #F9F1E7;
  z-index: 4;
}
@media screen and (max-width: 662px) {
  .header__container:not(._scroll)::before {
    width: clamp(32%, 0rem + 16vw, 76.8%);
  }
}
.header__nav {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  gap: 2.56rem;
  transition: padding 0.3s ease;
}
@media screen and (max-width: 992px) {
  .header__nav {
    padding: 1.5rem 0;
    gap: clamp(1rem, 0.5238rem + 2.381vw, 2rem);
  }
}
.header__logo {
  width: 75px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .header__logo {
    flex: 1 0 auto;
  }
}
.header .main-menu {
  flex: 0 0 21.25rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  z-index: 5;
}
@media screen and (max-width: 992px) {
  .header .main-menu {
    flex: 1 0 21.25rem;
  }
}
@media screen and (max-width: 768px) {
  .header .main-menu {
    position: absolute;
    top: 0;
    left: -100%;
    width: 66%;
    height: 100vh;
    background-color: #FCF8F3;
    z-index: 1;
    overflow: hidden;
    transition: left 0.3s ease;
  }
  .header .main-menu.active {
    left: 0;
  }
}
.header .main-menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
  .header .main-menu__list {
    gap: clamp(1rem, 0.5238rem + 2.381vw, 2rem);
  }
}
@media screen and (min-width: 993px) {
  .header .main-menu__list {
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header .main-menu__list {
    height: 100%;
    padding: calc(4.5rem + 30px) 10px 1.5rem 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
  }
}
.header .main-menu__item {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .header .main-menu__item {
    justify-content: flex-start;
    gap: 0.5rem;
    position: relative;
  }
  .header .main-menu__item [class^=_icon-] {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 769px) and (any-hover: hover) {
  .header .main-menu__item:hover {
    cursor: pointer;
  }
  .header .main-menu__item:hover [class^=_icon-] {
    cursor: pointer;
  }
  .header .main-menu__item:hover .sub-menu__wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
}
@media screen and (min-width: 769px) {
  .header .main-menu__item._hover .sub-menu__wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
}
@media screen and (max-width: 768px) {
  .header .main-menu__item {
    font-size: 1.5rem;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header .main-menu__item [class^=_icon-] {
    font-size: 1rem;
  }
  .header .main-menu__item._hover .sub-menu__wrapper {
    grid-template-rows: 1fr;
  }
}
@media screen and (any-hover: hover) {
  .header .main-menu__item:hover .main-menu__link {
    color: #e89f71;
  }
  .header .main-menu__item:hover [class^=_icon-] {
    transform: rotate(180deg);
    color: #e89f71;
  }
}
.header .main-menu__item._hover .main-menu__link {
  color: #e89f71;
}
.header .main-menu__item._hover [class^=_icon-] {
  transform: rotate(180deg);
  color: #e89f71;
}
.header .main-menu [class^=_icon-] {
  transition: all 0.3s ease;
}
.header .main-menu__link {
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .header .main-menu__link {
    padding: 0.5rem 0;
  }
}
.header .main-menu__link:active {
  color: #e89f71;
}
.header .main-menu .sub-menu__wrapper {
  background-color: #F9F1E7;
}
@media screen and (min-width: 769px) {
  .header .main-menu .sub-menu__wrapper {
    transform: translateY(1rem);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 10rem;
    padding-top: 0.5rem;
    transition: transform 0.3s ease;
  }
}
@media screen and (max-width: 768px) {
  .header .main-menu .sub-menu__wrapper {
    flex: 1 0 100%;
    margin: 0 -10px;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
  }
}
.header .main-menu .sub-menu__list {
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .header .main-menu .sub-menu__list {
    padding: 0 20px;
  }
}
.header .main-menu .sub-menu__item {
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  .header .main-menu .sub-menu__item {
    font-size: 1.25rem;
  }
}
.header .main-menu .sub-menu__link {
  transition: all 0.3s ease;
}
@media screen and (any-hover: hover) {
  .header .main-menu .sub-menu__link:hover {
    color: #e89f71;
  }
}
.header .main-menu .sub-menu__link:active {
  color: #e89f71;
}
.header__search {
  flex: 1 1 auto;
}
@media screen and (max-width: 992px) {
  .header__search {
    flex: 0 0 auto;
  }
}
.header__search .search-form {
  width: clamp(87.5%, 29.375rem, 100%);
  align-items: center;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 992px) {
  .header__search .search-form {
    width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 1;
    transition: top 0.3s ease;
  }
  .header__search .search-form.active {
    top: 100%;
  }
}
.header__search .search-btn {
  display: none;
  position: relative;
  z-index: 5;
}
.header__search .search-btn:disabled {
  color: #616161;
  cursor: none;
}
@media screen and (max-width: 992px) {
  .header__search .search-btn {
    display: block;
  }
}
.header__search .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  line-height: 1;
  color: inherit;
  transition: none;
  left: 0.75rem;
  cursor: auto;
  pointer-events: none;
}
@media screen and (max-width: 992px) {
  .header__search .search-icon.active {
    cursor: pointer;
    pointer-events: all;
  }
}
.header__search input[type=search] {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #616161;
  background-color: #FFF;
  padding: 0.75rem 0.75rem 0.75rem 3rem;
}
.header__search input[type=search]::placeholder {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #616161;
}
.header__search input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  background: url("../img/header/cross.svg") center no-repeat;
  background-size: 1rem;
  cursor: pointer;
  filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(60deg) brightness(95%) contrast(93%);
  transition: all 0.3s ease;
  opacity: 0.5;
}
.header__search input[type=search]::-webkit-search-cancel-button:hover {
  filter: invert(62%) sepia(89%) saturate(256%) hue-rotate(335deg) brightness(94%) contrast(92%);
}
.header .account {
  position: relative;
}
.header .account__login {
  display: none;
  position: relative;
  z-index: 5;
}
.header .account__items {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 992px) {
  .header .account__items {
    gap: clamp(1rem, 0.5238rem + 2.381vw, 2rem);
  }
}
.header .account__items-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .header .account__items-avatar {
    width: 30px;
    height: 30px;
  }
}
.header .account__items ._icon-cart {
  position: relative;
}
.header .account__items ._icon-cart .cart__count {
  position: absolute;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  top: -0.5rem;
  right: -0.5rem;
  background-color: #e89f71;
  color: #FFF;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.header .account__items ._icon-cart .cart__count.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.header .icon-menu {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  align-items: center;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .header .icon-menu {
    display: flex;
    flex: 0 0 auto;
  }
}
.header .icon-menu::before {
  content: "";
  top: 0;
}
.header .icon-menu::after {
  content: "";
  bottom: 0;
}
.header .icon-menu.active span {
  transform: scale(0);
}
.header .icon-menu.active::before {
  top: 14px;
  transform: rotate(45deg);
}
.header .icon-menu.active::after {
  bottom: 14px;
  transform: rotate(-45deg);
}

.account__cart__wrapper {
  position: absolute;
  top: 80%;
  right: 56px;
  z-index: 1;
  padding-top: 1rem;
  width: 340px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 992px) {
  .account__cart__wrapper {
    right: 0;
  }
}
@media screen and (max-width: 662px) {
  .account__cart__wrapper {
    right: calc(-30px - clamp(1rem, 0.5238rem + 2.381vw, 2rem));
  }
}
@media screen and (max-width: 412px) {
  .account__cart__wrapper {
    width: 300px;
  }
}
@media screen and (any-hover: hover) {
  .account__cart.has-dropdown:hover .account__cart__wrapper {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}
body._touch .account__cart.has-dropdown .account__cart__wrapper.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.cart {
  padding: 0.7rem;
  background-color: #FCF8F3;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.account__cart.has-dropdown .cart {
  max-height: 420px;
  overflow-y: auto;
}
.cart__items {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.cart__items.active {
  gap: 0.5rem;
  display: flex;
}
.cart__items .account__cart {
  display: none;
}
.cart__item {
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  grid-template-rows: auto;
  gap: 0.5rem;
}
.cart__item > * {
  align-self: center;
}
.cart__item__img {
  position: relative;
  padding-bottom: min(100%, 75vh);
  height: 0;
  overflow: hidden;
}
.cart__item__title {
  line-height: 1.5;
  font-weight: 600;
}
.cart__item__count {
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.cart__item__count .btn {
  min-height: unset;
  min-width: unset;
  height: 1.1rem;
  width: 1.1rem;
}
.cart__item__count span {
  width: 1.1rem;
  text-align: center;
}
.cart .total__cart {
  display: flex;
  justify-content: space-between;
}
.cart .total__cart span {
  font-weight: bold;
}
.cart__buttons {
  display: none;
  gap: 0.5rem;
}
.cart__buttons a {
  flex: 1 1 100%;
  min-height: unset;
  min-width: unset;
  padding: 6px;
}
.cart__buttons.active {
  display: flex;
}

.home {
  background-color: #FCF8F3;
  padding: 8.75rem 0 5rem 0;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .home {
    padding: calc(7.5rem + 40px) 0 min(5rem, 5vh) 0;
  }
}
@media screen and (max-width: 992px) {
  .home {
    padding: calc(4.5rem + 30px) 0 min(5rem, 5vh) 0;
  }
}
@media screen and (min-width: 993px) {
  .home {
    position: relative;
  }
  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 66%;
    height: 100%;
    background-color: #F9F1E7;
  }
}
.home__container {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  column-gap: 1.25rem;
}
@media screen and (max-width: 992px) {
  .home__container {
    grid-template-columns: minmax(0, 1fr);
  }
}
.home__header {
  width: calc(26.37rem + 75px);
  padding: 3.75rem;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(15.5px);
  z-index: 2;
  align-self: flex-start;
}
@media screen and (max-width: 1440px) {
  .home__header {
    padding: min(3.75rem, 3.75vmax);
  }
}
@media screen and (max-width: 992px) {
  .home__header {
    width: 100%;
  }
}
.home__header p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #898989;
  font-weight: 500;
}
.home__header p:not(:last-child) {
  margin-bottom: 2.4em;
}
@media screen and (max-width: 992px) {
  .home__header p:not(:last-child) {
    margin-bottom: clamp(1rem, 3.6vh, 2.4em);
  }
}
@media screen and (max-width: 1440px) {
  .home__header p {
    font-size: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  }
}
.home__button {
  width: 100%;
  padding: 1.5rem 8.75rem;
  font-size: 1.25rem;
}
@media screen and (max-width: 1440px) {
  .home__button {
    font-size: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  }
}
@media screen and (max-width: 992px) {
  .home__button {
    padding: min(1.5rem, 1.5vh) min(8.75rem, 8.75vw);
    margin-top: clamp(1rem, 3.6vh, 2.4em);
  }
}
@media screen and (max-width: 992px) {
  .home__button {
    width: auto;
  }
}
.home__body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
}
.home__swiper__item {
  position: relative;
  padding-bottom: min(59.5%, 75vh);
  height: 0;
  overflow: hidden;
}
.home__swiper__item .button-more {
  bottom: 2.5rem;
  right: 2.5rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(15.5px);
  gap: 1rem;
}
.home__swiper__item .button-more p:not(:last-child),
.home__swiper__item .button-more span:not(:last-child) {
  margin-bottom: 0.5em;
}
.home__nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.875rem 0;
  z-index: 2;
}
.home__arrows {
  display: flex;
  gap: 0.5rem;
}
.home .swiper {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .home .swiper {
    width: 75vw;
    max-width: 934px;
    overflow: visible;
    margin: 0;
  }
}

.advantage {
  margin-top: 5.5rem;
}
@media screen and (max-width: 1440px) {
  .advantage {
    margin-top: min(5.5rem, 5.5vh);
  }
}
.advantage__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 2.5rem;
  row-gap: 1.5rem;
}
.advantage__item {
  padding: 1.5rem 0;
  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: 40px auto;
}
@media screen and (max-width: 992px) {
  .advantage__item {
    padding: 0;
    flex: 1 0 260px;
  }
}
.advantage__item_img {
  grid-row: span 2;
  align-self: center;
  justify-self: center;
}
.advantage__item_img img {
  display: block;
  width: 40px;
  height: 40px;
}

.product {
  margin-top: 5.5rem;
}
@media screen and (max-width: 1440px) {
  .product {
    margin-top: min(5.5rem, 5.5vh);
  }
}
.product__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  gap: 2rem;
}
.product__item {
  position: relative;
}
@media screen and (any-hover: hover) {
  .product__item:hover .product__buy {
    opacity: 0.72;
    visibility: visible;
    cursor: pointer;
  }
}
.product__img {
  display: block;
  position: relative;
  padding-bottom: min(105.6140350877%, 75vh);
  height: 0;
  overflow: hidden;
}
.product__labels {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}
.product__label {
  min-width: 48px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #FFF;
}
.product__label-sale {
  background-color: #E97171;
}
.product__label-new {
  background-color: #2EC1AC;
}
.product__info {
  padding: 1rem;
  overflow: auto;
  background-color: #F4F5F7;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.25rem;
}
.product__info h3 {
  grid-column: span 2;
}
.product__info p {
  grid-column: span 2;
}
.product__info p:not(:last-child) {
  margin-bottom: 0.5em;
}
.product__info__price {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: #3A3A3A;
  font-weight: 600;
  line-height: 1.5;
}
@media screen and (max-width: 1440px) {
  .product__info__price {
    font-size: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  }
}
.product__info__price-old {
  display: flex;
  align-items: center;
  color: #B0B0B0;
  line-height: 1.5;
  text-decoration: line-through;
}
.product__buy {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}
.product__buy .btn-white {
  line-height: 1.5;
  font-weight: 600;
  min-height: 48px;
  min-width: 48px;
  padding: 12px;
  background-color: #FFF;
  color: #e89f71;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 3.125rem;
}
@media screen and (any-hover: hover) {
  .product__buy .btn-white:hover {
    background-color: #e89f71;
    color: #FFF;
  }
}
.product__buy .btn-white:active {
  background-color: #e89f71;
  color: #FFF;
}
@media screen and (max-width: 1440px) {
  .product__buy .btn-white {
    padding: 12px min(3.125rem, 3.125vw);
  }
}
@media screen and (any-hover: hover) {
  .product__buy {
    visibility: hidden;
    opacity: 0;
    padding: 2.625rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3A3A3A;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
}
@media screen and (any-hover: none) {
  .product__buy .btn-white {
    flex: 1 1 auto;
    border: 1px solid #e89f71;
  }
  .product__buy a span:last-of-type {
    display: none;
  }
}
.product__buy__links {
  display: flex;
  gap: 1.5rem;
}
@media screen and (any-hover: hover) {
  .product__buy__links {
    width: 100%;
    color: #FFF;
    justify-content: space-between;
  }
}
.product__buy a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
.product__buy a span:first-of-type {
  font-size: 1.5rem;
}
.product__more .btn {
  width: 100%;
}
@media screen and (min-width: 993px) {
  .product__more .btn {
    display: block;
    width: auto;
    line-height: 1.5;
    font-weight: 600;
    min-height: 48px;
    min-width: 48px;
    padding: 12px;
    background-color: #FFF;
    color: #e89f71;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 5.125rem;
    border: 1px solid #e89f71;
    margin: 2rem auto 0;
  }
}
@media screen and (min-width: 993px) and (any-hover: hover) {
  .product__more .btn:hover {
    background-color: #e89f71;
    color: #FFF;
  }
}
@media screen and (min-width: 993px) {
  .product__more .btn:active {
    background-color: #e89f71;
    color: #FFF;
  }
}
@media screen and (min-width: 993px) and (max-width: 1440px) {
  .product__more .btn {
    padding: 12px min(5.125rem, 5.125vw);
  }
}
.product__more__btn:disabled {
  pointer-events: none;
  cursor: none;
}

.furniture {
  margin-top: 2.75rem;
}
@media screen and (max-width: 1440px) {
  .furniture {
    margin-top: min(2.75rem, 5.5vh);
  }
}
.furniture__container {
  width: 100%;
  overflow-x: hidden;
  padding: min(2rem, 2vh) 0 min(2.75rem, 5.5vh);
}
@media screen and (any-hover: none) {
  .furniture__container {
    overflow-x: auto;
  }
}
.furniture__header {
  text-align: center;
}
.furniture__header span {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.4em;
}
.furniture__gallary {
  width: fit-content;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  gap: 1rem;
}
.furniture__gallary > div {
  display: flex;
  gap: 1rem;
}
.furniture__gallary > div a:last-child {
  flex: 1 1 100%;
}
.furniture__gallary > div img {
  object-position: center;
  object-fit: cover;
}
.furniture__gallary_item:nth-child(1n) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.furniture__gallary_item:nth-child(2n) {
  display: block;
  align-self: center;
}
.furniture__gallary_item:nth-child(2n) a img {
  height: 24vmax;
  aspect-ratio: 3/4;
}
.furniture__gallary_item:nth-child(3n) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.furniture__gallary_item-left-top {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 1rem;
}
.furniture__gallary_item-left-top a:nth-child(1n) img {
  height: 19vmax;
  aspect-ratio: 4/3;
}
.furniture__gallary_item-left-top a:nth-child(2n) img {
  height: 23vmax;
  aspect-ratio: 3/4;
}
.furniture__gallary_item-left-top a:nth-child(3n) img {
  height: 29vmax;
  aspect-ratio: 3/4;
}
.furniture__gallary_item-left-bottom {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 1rem;
}
.furniture__gallary_item-left-bottom a:nth-child(1n) img {
  height: 16vmax;
  aspect-ratio: 4/3;
}
.furniture__gallary_item-left-bottom a:nth-child(2n) img {
  height: 20vmax;
  aspect-ratio: 4/3;
}
.furniture__gallary_item-left-bottom a:last-child img {
  width: 100%;
}
.furniture__gallary_item-right-top {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.furniture__gallary_item-right-top a:nth-child(1n) img {
  height: 18vmax;
  aspect-ratio: 3/4;
}
.furniture__gallary_item-right-top a:nth-child(2n) img {
  height: 22vmax;
  aspect-ratio: 4/3;
}
.furniture__gallary_item-right-bottom {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.furniture__gallary_item-right-bottom a:nth-child(1n) img {
  height: 12vmax;
  aspect-ratio: 3/4;
}
.furniture__gallary_item-right-bottom a:nth-child(2n) img {
  height: 12vmax;
  aspect-ratio: 4/3;
}
.furniture__gallary_item-right-bottom a:nth-child(3n) img {
  height: 16vmax;
  aspect-ratio: 4/3;
}
.furniture__gallary_item-right-bottom a:last-child img {
  width: 100%;
}

.inspiration {
  margin-top: 2.75rem;
  padding: 2.75rem 0;
  background-color: #FCF8F3;
  overflow-x: hidden;
}
.inspiration h2 {
  text-align: left;
  margin-bottom: 0.5rem;
}
.inspiration p {
  margin-bottom: 1.5rem;
}
.inspiration .btn {
  padding: 0.75rem 2.5rem;
}
@media screen and (max-width: 768px) {
  .inspiration .btn {
    width: 100%;
    margin-top: 1.5rem;
  }
}
.inspiration__content {
  display: grid;
  grid-template-columns: 1fr minmax(0, 2fr);
  grid-template-rows: minmax(0, 1fr);
  gap: min(5.375rem, 2.5vw);
}
@media screen and (max-width: 992px) {
  .inspiration__content {
    grid-template-columns: 1.25fr minmax(0, 2fr);
  }
}
@media screen and (max-width: 768px) {
  .inspiration__content {
    display: block;
  }
}
.inspiration__text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 1440px) {
  .inspiration {
    margin-top: min(2.75rem, 5.5vh);
    padding: min(2.75rem, 5.5vh) 0;
  }
}
.inspiration__swiper__wrapper {
  position: relative;
}
.inspiration__swiper {
  width: calc((100vw - min(5.375rem, 2.5vw) - 150%) / 2 + 100%);
}
@media screen and (max-width: 992px) {
  .inspiration__swiper {
    width: calc((100vw - min(5.375rem, 2.5vw) - 162.5%) / 2 + 100%);
  }
}
@media screen and (max-width: 768px) {
  .inspiration__swiper {
    width: 100%;
  }
}
.inspiration .swiper-wrapper {
  height: 38rem;
}
@media screen and (max-width: 1440px) {
  .inspiration .swiper-wrapper {
    height: 33rem;
    max-height: 56vmax;
  }
}
.inspiration .swiper-slide .inspiration__swiper__item {
  height: 80%;
}
.inspiration .swiper-slide .inspiration__swiper__item img {
  transition: transform 0.3s ease;
  transform: scale3d(1.3, 1.3, 1);
}
@media screen and (max-width: 480px) {
  .inspiration .swiper-slide .inspiration__swiper__item {
    height: 100%;
  }
}
.inspiration .swiper-slide.swiper-slide-active .inspiration__swiper__item, .inspiration .swiper-slide.swiper-slide-duplicate-active .inspiration__swiper__item {
  transition: height 0.3s ease;
  height: 100%;
}
.inspiration .swiper-slide.swiper-slide-active img, .inspiration .swiper-slide.swiper-slide-duplicate-active img {
  transform: scale3d(1, 1, 1);
}
.inspiration__swiper__item {
  overflow: hidden;
  position: relative;
}
.inspiration__swiper__item .button-more {
  bottom: 1.5rem;
  left: 1.5rem;
  cursor: none;
  pointer-events: none;
}
.inspiration__swiper__item .button-more__content {
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(15.5px);
  cursor: pointer;
  pointer-events: all;
}
.inspiration__swiper__item .button-more::after {
  line-height: 1.5;
  font-weight: 600;
  min-height: 48px;
  min-width: 48px;
  padding: 12px;
  background-color: #e89f71;
  color: #FFF;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
}
@media screen and (any-hover: hover) {
  .inspiration__swiper__item .button-more:hover {
    color: inherit;
  }
  .inspiration__swiper__item .button-more:hover::after {
    line-height: 1.5;
    font-weight: 600;
    min-height: 48px;
    min-width: 48px;
    padding: 12px;
    background-color: #ee945b;
    color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.inspiration__swiper__item .button-more:active {
  color: inherit;
}
.inspiration__swiper__item .button-more:active::after {
  line-height: 1.5;
  font-weight: 600;
  min-height: 48px;
  min-width: 48px;
  padding: 12px;
  background-color: #ee945b;
  color: #FFF;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inspiration__swiper__item .button-more__inspiration {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.inspiration__swiper__item .button-more__inspiration:not(:last-child) {
  margin-bottom: 0.5em;
}
.inspiration__swiper__item .button-more__inspiration-counter {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.inspiration__swiper__item .button-more__inspiration-counter::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  border-bottom: 2px solid #898989;
}
.inspiration .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.inspiration .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  position: absolute;
  z-index: 2;
  left: 38.4615384615%;
  bottom: calc((7.6rem - 24px) / 2 - 13.5px);
  transform: translateX(0);
}
@media screen and (max-width: 1440px) {
  .inspiration .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .inspiration .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    bottom: calc((6.6rem - 16px) / 2 - 13.5px);
  }
}
@media screen and (max-width: 1400px) {
  .inspiration .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .inspiration .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 45.4545454545%;
  }
}
@media screen and (max-width: 1200px) {
  .inspiration .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .inspiration .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
  }
}
@media screen and (max-width: 992px) {
  .inspiration .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .inspiration .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 62.5%;
  }
}
@media screen and (max-width: 768px) {
  .inspiration .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .inspiration .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 45.4545454545%;
  }
}
@media screen and (max-width: 640px) {
  .inspiration .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .inspiration .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 71.4285714286%;
  }
}
@media screen and (max-width: 480px) {
  .inspiration .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .inspiration .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    position: relative;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin-top: 1rem;
  }
}

.tips {
  margin-top: 2.75rem;
}
@media screen and (max-width: 1440px) {
  .tips {
    margin-top: min(2.75rem, 5.5vh);
  }
}
body._mouse .tips h2 {
  margin-bottom: 0;
}
.tips__content {
  position: relative;
}
body._mouse .tips__swiper {
  margin: 0 -2rem;
  padding: 2rem;
}
.tips__swiper__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease;
}
body._mouse .tips__swiper__item:hover {
  box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);
}
.tips__swiper__item img {
  width: 100%;
  aspect-ratio: 4/2.75;
  object-position: center;
  object-fit: cover;
}
.tips__text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.tips__text p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #898989;
}
.tips__pagination {
  margin-top: 0.75rem;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .tips__pagination {
    margin-top: min(0.75rem, 0.75vh);
  }
}

.footer a {
  transition: all 0.3s ease;
}
@media screen and (any-hover: hover) {
  .footer a:hover {
    color: #e89f71;
  }
}
.footer a:active {
  color: #e89f71;
}
.footer__content {
  padding: 5rem 0 3.125rem 0;
  display: grid;
  grid-template-columns: minmax(auto, 250px) 2fr minmax(auto, 290px);
  gap: 5rem;
  border-top: 1px solid #D8D8D8;
}
@media screen and (max-width: 1440px) {
  .footer__content {
    padding: clamp(2.5rem, 1.7857rem + 3.5714vmin, 5rem) 0 clamp(1.5rem, 1.0357rem + 2.3214vmin, 3.125rem) 0;
    gap: clamp(1.5rem, -2.5rem + 8.3333vw, 5rem);
  }
}
@media screen and (max-width: 992px) {
  .footer__content {
    grid-template-columns: 2fr minmax(290px, 1fr);
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 768px) {
  .footer__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .footer__contact {
    grid-column: span 2;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer__contacts [class^=_icon-]::before {
  margin-right: 0.5em;
}
.footer__info {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
}
@media screen and (max-width: 1440px) {
  .footer__info {
    gap: clamp(1.5rem, -2.5rem + 8.3333vw, 5rem);
  }
}
.footer__info [class^=_icon-] {
  display: none;
}
@media screen and (max-width: 768px) {
  .footer__info {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  .footer__info [class^=_icon-] {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .footer__info__wrapper {
    flex: 1 1 100%;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
  }
}
.footer__menu, .footer__account, .footer__social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 992px) {
  .footer__menu, .footer__account, .footer__social {
    flex: 1 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .footer__menu, .footer__account, .footer__social {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: unset;
  }
  .footer__menu h4, .footer__account h4, .footer__social h4 {
    flex: 1 1 auto;
    transition: all 0.3s ease;
  }
  .footer__menu [class^=_icon-], .footer__account [class^=_icon-], .footer__social [class^=_icon-] {
    transition: all 0.3s ease;
  }
  .footer__menu._hover .footer__info__wrapper, .footer__account._hover .footer__info__wrapper, .footer__social._hover .footer__info__wrapper {
    grid-template-rows: 1fr;
  }
  .footer__menu._hover h4, .footer__account._hover h4, .footer__social._hover h4 {
    color: #e89f71;
  }
  .footer__menu._hover [class^=_icon-], .footer__account._hover [class^=_icon-], .footer__social._hover [class^=_icon-] {
    transform: rotate(180deg);
    color: #e89f71;
  }
}
.footer__menu__list, .footer__account__list, .footer__social__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .footer__menu__list li:first-child, .footer__account__list li:first-child, .footer__social__list li:first-child {
    padding-top: 1rem;
  }
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__subscribe__form {
  display: flex;
  gap: 0.25rem;
}
.footer__subscribe__form input[type=email] {
  flex: 1 0 auto;
}
.footer__subscribe__form button[type=submit] {
  font-size: 1.5rem;
}

.checkout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  padding: 8.75rem 0 5rem 0;
}
.checkout .cart {
  align-self: flex-start;
}
@media screen and (max-width: 1440px) {
  .checkout {
    padding: calc(7.5rem + 40px) 0 min(5rem, 5vh) 0;
    gap: min(3rem, 3vw);
  }
}
@media screen and (max-width: 1200px) {
  .checkout {
    grid-template-columns: 1.2fr 2fr;
  }
}
@media screen and (max-width: 992px) {
  .checkout {
    padding: calc(4.5rem + 30px) 0 min(5rem, 5vh) 0;
    grid-template-columns: 1.5fr 2fr;
  }
}
@media screen and (max-width: 768px) {
  .checkout {
    grid-template-columns: 1fr;
  }
}
.checkout .cart__header,
.checkout .cart__total span:last-child {
  color: #e89f71;
}
.checkout .cart__discount p {
  cursor: pointer;
}
.checkout .cart__discount__form {
  margin-top: 0.7rem;
  display: none;
  justify-content: space-between;
  gap: 1rem;
  transition: all 0.3s ease;
}
.checkout .cart__discount__form.open {
  display: flex;
}
.checkout .cart__discount__form input[type=text] {
  flex: 1 1 100%;
}
.checkout__info {
  padding: 1rem 0;
}
.checkout__info__form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: row;
  gap: 1.2rem;
}
.checkout__info-2, .checkout__info-2-3, .checkout__info-2-6 {
  grid-column: span 2;
}
.checkout__info-3 {
  grid-column: span 3;
}
.checkout__info-6 {
  grid-column: span 6;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .checkout__info-2-3 {
    grid-column: span 3;
  }
}
@media screen and (max-width: 768px) {
  .checkout__info-2-6 {
    grid-column: span 6;
  }
}
@media screen and (max-width: 662px) {
  .checkout__info-2-3 {
    grid-column: span 3;
  }
}
.checkout__info input[type=text],
.checkout__info input[type=email],
.checkout__info input[type=tel],
.checkout__info select {
  width: 100%;
}
.checkout__info [class^=_icon-],
.checkout__info [class*=" _icon-"] {
  display: inline-block;
}
.checkout__info [class^=_icon-]::before,
.checkout__info [class*=" _icon-"]::before {
  font-size: 2.5rem;
}
.checkout__info [class^=_icon-]:not(:last-child),
.checkout__info [class*=" _icon-"]:not(:last-child) {
  margin-right: 1rem;
}
.checkout__info ._icon-cc-visa {
  color: rgb(128, 128, 243);
}
.checkout__info ._icon-cc-mastercard {
  color: #E97171;
}
.checkout .btn {
  width: 100%;
}

.login__form__wrapper {
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.16);
  z-index: 101;
}
.login__form__wrapper.active {
  display: flex;
}

.login__form__container {
  max-height: 100%;
  background-color: #FFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
  width: 400px;
  overflow: auto;
}
@media screen and (max-width: 412px) {
  .login__form__container {
    width: 100%;
  }
}

.login__form {
  padding: 1.5rem 1.5rem 2.25rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
}
.login__form input[type=email],
.login__form input[type=password],
.login__form input[type=text],
.login__form input[type=submit] {
  width: 100%;
}
.login__form h3 {
  text-align: center;
}
.login__form-detail {
  position: relative;
}
.login__form-detail_2 {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 412px) {
  .login__form-detail_2 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.login__form-detail ._icon {
  position: absolute;
  right: 0.75rem;
  bottom: 1.2rem;
  transform: translateY(50%);
  display: none;
  font-size: 1.25rem;
}
.login__form-detail ._icon.active {
  display: block;
}
.login__form-detail:last-child {
  text-align: center;
}
.login__form-detail a {
  color: #e89f71;
}
@media screen and (any-hover: hover) {
  .login__form-detail a:hover {
    text-decoration: underline;
  }
}
.login__form-detail a:active {
  text-decoration: underline;
}
.login__form.active {
  display: flex;
}
.login__form__header {
  position: relative;
}
.login__form__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}
.login__form__close span::before, .login__form__close span::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 14px;
  right: 0;
  background-color: #898989;
}
.login__form__close span::before {
  transform: rotate(45deg);
}
.login__form__close span::after {
  transform: rotate(-45deg);
}
@media screen and (any-hover: hover) {
  .login__form__close:hover span::before, .login__form__close:hover span::after {
    background-color: #e89f71;
  }
}

.login__social {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.login__social::before {
  content: "";
  width: calc(100% - 3rem);
  height: 1px;
  position: absolute;
  left: 1.5rem;
  top: 0;
  background-color: #898989;
}
.login__social::after {
  content: "Or";
  padding: 0.25rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  color: #898989;
  background-color: #FFF;
}
.login__social [class^=_icon-],
.login__social [class*=" _icon-"] {
  display: inline-block;
}
.login__social ._icon-facebook {
  color: rgb(128, 128, 243);
}
.login__social ._icon-google {
  color: #E97171;
}
.login__social__item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.login__social__link {
  width: 100%;
  padding: 12px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #FCF8F3;
}
@media screen and (any-hover: hover) {
  .login__social__link:hover {
    color: #616161;
    background-color: #F9F1E7;
  }
}
.login__social__link:active {
  color: #616161;
  background-color: #F9F1E7;
}