.advantage{
    margin-top: 5.5rem;
    @media screen and (max-width: $max-width) {
        margin-top: min(5.5rem, 5.5vh);
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 2.5rem;
        row-gap: 1.5rem;
    }
    &__item{
        padding: 1.5rem 0;
        display: grid;
        column-gap: 1.5rem;
        grid-template-columns: 40px auto;
        @media screen and (max-width: 992px) {
            padding: 0;
            flex: 1 0 260px;
        }
        &_img{
            grid-row: span 2;
            align-self: center;
            justify-self: center;
            img{
                display: block;
                width: 40px;
                height: 40px;
            }
        }
    }
}