.account__cart__wrapper {
    position: absolute;
    top: 80%;
    right: 56px;
    z-index: 1;
    padding-top: 1rem;
    width: 340px;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    @media screen and (max-width: 992px) {
        right: 0;
    }

    @media screen and (max-width: 662px) {
        right: calc(-30px - clamp(1rem, 0.5238rem + 2.381vw, 2rem));
    }

    @media screen and (max-width: 412px) {
        width: 300px;
    }

    @media screen and (any-hover: hover) {
        .account__cart.has-dropdown:hover & {
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }
    }

    body._touch .account__cart.has-dropdown &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }

}

.cart {
    font-size: 1rem;
    line-height: 1.2;
    .account__cart.has-dropdown & {
        max-height: 420px;
        overflow-y: auto;
    }

    padding: 0.7rem;
    background-color: $orange-3;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    &__items {
        display: none;
        flex-direction: column;
        gap: 0.7rem;

        &.active {
            gap: 0.5rem;
            display: flex;
        }

        & .account__cart {
            display: none;
        }
    }

    &__item {
        width: 100%;
        display: grid;
        grid-template-columns: 50px 1fr auto;
        grid-template-rows: auto;
        gap: 0.5rem;

        &>* {
            align-self: center;
        }

        // align-items: center;

        &__img {
            @include img_bg_wrapper(100%);
        }

        img {
            @extend %img_bg;
        }

        &__title {
            line-height: 1.5;
            font-weight: 600;
        }

        &__count {
            justify-self: flex-end;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
            // width: 100%;

            .btn {
                min-height: unset;
                min-width: unset;
                height: 1.1rem;
                width: 1.1rem;
            }

            span {
                width: 1.1rem;
                text-align: center;

            }
        }
    }

    .total__cart {
        display: flex;
        justify-content: space-between;

        span {
            font-weight: bold;
        }

    }
    

    &__buttons {
        display: none;
        gap: 0.5rem;

        a {
            flex: 1 1 100%;
            min-height: unset;
            min-width: unset;
            padding: 6px;
        }

        &.active {
            display: flex;
        }
    }


    .cart__header, .cart__total{
        font-size: 1.125rem;
        line-height: 1.5;
    }
}