.header {

    &__container {
        position: fixed;
        z-index: 100;
        width: 100%;
        color: $gray-1;

        [class^="_icon-"] {
            &::before {
                display: block;
            }
        }

        &._scroll {
            @media screen and (any-hover: hover) {
                &::after {
                    opacity: 0.8;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }

                .home {
                    @media screen and (max-width: $max-width) {
                        padding: calc(2.5rem + 40px) 0 min(5rem, 5vh) 0;
                    }

                    @media screen and (max-width: 992px) {
                        padding: calc(1.5rem + 30px) 0 min(5rem, 5vh) 0;
                    }
                }
            }

            .header__nav {
                padding: 1rem 0;

                @media screen and (max-width: 992px) {
                    padding: 0.75rem 0;
                }
            }

            @media screen and (max-width: 768px) {
                .main-menu__list {
                    padding: calc(0.75rem * 3 + 30px) 10px 1.5rem 10px;

                }
            }
        }


        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $orange-3;
            z-index: 3;
            transition: opacity 0.3s ease;
        }

        &:not(._scroll)::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 66%;
            height: 100%;
            background-color: $orange-2;
            z-index: 4;

            @media screen and (max-width: 662px) {
                width: clamp(32%, 0rem + 16vw, 76.8%);
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        padding: 2.5rem 0;
        gap: 2.56rem;
        transition: padding 0.3s ease;

        @media screen and (max-width: 992px) {
            padding: 1.5rem 0;
            gap: clamp(1rem, 0.5238rem + 2.381vw, 2rem);
        }
    }

    &__logo {
        width: $logo-widths;
        font-size: 1.5rem;
        font-weight: 700;
        color: $black;
        z-index: 5;

        @media screen and (max-width: 768px) {
            flex: 1 0 auto;
        }
    }

    .main-menu {
        flex: 0 0 21.25rem;
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 500;
        z-index: 5;

        @media screen and (max-width: 992px) {
            flex: 1 0 21.25rem;
        }

        @media screen and (max-width: 768px) {
            position: absolute;
            top: 0;
            left: -100%;
            width: 66%;
            height: 100vh;
            background-color: $orange-3;
            z-index: 1;
            overflow: hidden;
            transition: left 0.3s ease;

            &.active {
                left: 0;
            }
        }

        &__list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            @media screen and (min-width: 769px) {
                gap: clamp(1rem, 0.5238rem + 2.381vw, 2rem);
            }

            @media screen and (min-width: 993px) {
                gap: 2rem;
            }

            @media screen and (max-width: 768px) {
                height: 100%;
                padding: calc(1.5rem * 3 + 30px) 10px 1.5rem 10px;
                flex-direction: column;
                flex-wrap: nowrap;
                overflow: auto;
            }
        }

        &__item {
            display: flex;
            align-items: center;

            @media screen and (min-width: 769px) {
                justify-content: flex-start;
                gap: 0.5rem;
                position: relative;

                [class^="_icon-"] {
                    font-size: 0.75rem;
                }

                @media screen and (any-hover: hover) {
                    &:hover {
                        cursor: pointer;

                        [class^="_icon-"] {
                            cursor: pointer;
                        }

                        .sub-menu__wrapper {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);
                            pointer-events: auto;
                        }
                    }
                }

                &._hover {
                    .sub-menu__wrapper {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                        pointer-events: auto;
                    }
                }
            }

            @media screen and (max-width: 768px) {
                font-size: 1.5rem;
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;

                [class^="_icon-"] {
                    font-size: 1rem;
                }

                &._hover {
                    .sub-menu__wrapper {
                        grid-template-rows: 1fr;
                    }
                }
            }

            @media screen and (any-hover: hover) {
                &:hover {
                    .main-menu__link {
                        color: $orange-1;
                    }

                    [class^="_icon-"] {
                        transform: rotate(180deg);
                        color: $orange-1;
                    }
                }

            }

            &._hover {
                .main-menu__link {
                    color: $orange-1;
                }

                [class^="_icon-"] {
                    transform: rotate(180deg);
                    color: $orange-1;
                }
            }
        }

        [class^="_icon-"] {
            transition: all 0.3s ease;
        }

        &__link {
            transition: all 0.3s ease;

            @media screen and (max-width: 768px) {
                padding: 0.5rem 0;
            }

            &:active {
                color: $orange-1;
            }
        }

        .sub-menu {
            &__wrapper {
                background-color: $orange-2;

                @media screen and (min-width: 769px) {
                    transform: translateY(1rem);
                    visibility: hidden;
                    opacity: 0;
                    pointer-events: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    min-width: 10rem;
                    padding-top: 0.5rem;
                    transition: transform 0.3s ease;
                }

                @media screen and (max-width: 768px) {
                    flex: 1 0 100%;
                    margin: 0 -10px;
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: grid-template-rows 0.3s ease;
                }
            }

            &__list {
                overflow: hidden;

                @media screen and (max-width: 768px) {
                    padding: 0 20px;
                }
            }

            &__item {
                padding: 0.5rem;

                @media screen and (max-width: 768px) {
                    font-size: 1.25rem;
                }
            }

            &__link {
                transition: all 0.3s ease;

                @media screen and (any-hover: hover) {
                    &:hover {
                        color: $orange-1;
                    }
                }

                &:active {
                    color: $orange-1;
                }
            }
        }
    }

    &__search {

        flex: 1 1 auto;

        @media screen and (max-width: 992px) {
            flex: 0 0 auto;
        }

        .search-form {
            width: clamp(87.5%, 29.375rem, 100%);
            align-items: center;
            position: relative;
            z-index: 5;

            @media screen and (max-width: 992px) {
                width: 100%;
                position: absolute;
                top: -100%;
                left: 0;
                z-index: 1;
                transition: top 0.3s ease;

                &.active {
                    top: 100%;
                }
            }
        }

        .search-btn {
            display: none;
            position: relative;
            z-index: 5;

            &:disabled {
                color: $gray-2;
                cursor: none;
            }

            @media screen and (max-width: 992px) {
                display: block;
            }
        }

        .search-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.25rem;
            line-height: 1;
            color: inherit;
            transition: none;

            // &:first-child {
            left: 0.75rem;
            cursor: auto;
            pointer-events: none;
            // }

            @media screen and (max-width: 992px) {
                &.active {
                    cursor: pointer;
                    pointer-events: all;
                }
            }

        }

        input[type=search] {
            width: 100%;
            font-size: 0.875rem;
            line-height: 1.5;
            color: $gray-2;
            background-color: $white;
            padding: 0.75rem 0.75rem 0.75rem 3rem;

            &::placeholder {
                font-size: 0.875rem;
                line-height: 1.5;
                color: $gray-2;
            }

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                height: 1.25rem;
                width: 1.25rem;
                background: url('@img/header/cross.svg') center no-repeat;
                background-size: 1rem;
                cursor: pointer;
                filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(60deg) brightness(95%) contrast(93%);
                transition: all 0.3s ease;
                opacity: 0.5;

                &:hover {
                    filter: invert(62%) sepia(89%) saturate(256%) hue-rotate(335deg) brightness(94%) contrast(92%);
                }
            }

        }
    }

    .account {
        position: relative;

        &__login {
            display: none;
            position: relative;
            z-index: 5;
        }

        &__items {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            position: relative;
            z-index: 5;

            @media screen and (max-width: 992px) {
                gap: clamp(1rem, 0.5238rem + 2.381vw, 2rem);
            }

            &-avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;

                @media screen and (max-width: 768px) {
                    width: 30px;
                    height: 30px;
                }

                img {
                    @extend %img;
                }
            }


            ._icon-cart {

                position: relative;

                .cart__count {
                    position: absolute;
                    height: 1.1rem;
                    width: 1.1rem;
                    border-radius: 50%;
                    top: -0.5rem;
                    right: -0.5rem;
                    background-color: $orange-1;
                    color: $white;
                    font-size: 0.7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    pointer-events: none;

                    &.active {
                        visibility: visible;
                        opacity: 1;
                        pointer-events: all;
                    }
                }

            }
        }
    }

    .icon-menu {
        display: none;
        width: 30px;
        height: 30px;
        position: relative;
        align-items: center;
        z-index: 5;

        @media screen and (max-width: 768px) {
            display: flex;
            flex: 0 0 auto;
        }

        span {
            @extend %icon-menu__span;
        }

        &::before {
            content: '';
            @extend %icon-menu__span;
            top: 0;
        }

        &::after {
            content: '';
            @extend %icon-menu__span;
            bottom: 0;
        }

        &.active {
            span {
                transform: scale(0);
            }

            &::before {
                top: 14px;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 14px;
                transform: rotate(-45deg);
            }
        }
    }

}